/* GENERAL */
body {
  font-family: "AvenirNext-Regular";
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1 {
  color: black;
}

/* NAV */
nav {
  background-color: white !important;
  font-family: "AvenirNext-Regular"
  font-size: 1.5rem !important;
  box-shadow: none !important;
  margin-top: 15px;
}

nav ul a {
  color: #4A4A4A !important;
  margin: 15px 60px 0px 60px;
  font-size: 1.5rem !important;

}

nav img {
  height: 125px !important;
}

/* INDEX */
#headshot {
  height: 540px;
  margin-top: 100px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.title {
  text-align: right;
  /*margin-right: 150px;*/
  margin-top: 120px;
  color: #19957F;
  font-family: "AvenirNext-Regular";
}

.title h2 {
  color: #19957F;
  letter-spacing: 15px;
  margin-right: 15px;
}

.title h5 {
  color: #4A4A4A;
  margin-right: 50px;
}

.SLC {
  font-style: italic;
  font-family: "AvenirNext-Regular";
  color: #4A4A4A;
  margin-right: 145px !important;
}

.paragraph {
  text-align: center;
  font-size: 15pt !important;
}

/* ABOUT */
.about-title {
  text-align: right;
  margin-top: 100px;
  color: #19957F;
  letter-spacing: 15px;
  margin-right: 85px;
  font-family: "AvenirNext-Regular";

}
.about  {
  width: 600px;
  height: 330px;
  overflow-y: scroll;
  margin-left: 370px;
  text-align: center;
  font-size: 15pt !important;
}

/* RESUME */

.resume-title {
  color: #19957F;
  letter-spacing: 15px;
  margin-top: 100px;
}
/* FOOTER */

.linked {
  height: 50px;
  margin: 10px 75px 10px 10px;
}